@{
    ViewBag.Title = "About";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/Content/css/aboutus.css" rel="stylesheet" />
</head>
<body>
    <main>
        <section class="company-info">
            <h2>Welcome to Watch World</h2>
            <p>
                We offer a curated collection of luxury watches that provide
                exceptional value for money.
            </p>
            <p>
                At Watch World, our passion is to provide our customers with
                top-quality timepieces that reflect elegance and style.
            </p>
        </section>
        <section class="ceo-info">
            <div class="ceo-photo">
                <img src="~/Imgs/Salil-Parekh.jpeg"
                     alt="CEO Photo" />

            </div>
            <div class="ceo-note">
                <h3>Message from our CEO</h3>
                <p>
                    "Watch World has established itself as the most trusted source for
                    luxury watches. We pride ourselves on delivering timeless pieces
                    that exemplify sophistication and excellence."
                </p>
            </div>
        </section>
        <section class="visit-us">
            <h3>Visit Us</h3>
            <p>Doctors Tower, Kakkanad</p>
            <p>Kerala, India</p>
        </section>
    </main>
</body>
</html>