*{
    margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Mono', monospace;

}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid black;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}



label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 10px;
}

input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"],
input[type="password"],
textarea,
select {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
}

.radio-group label {
  display: inline-block;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
} 
